<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="apicloud.com.youxian">

    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".mvp.ui.activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".mvp.ui.activity.MainADDActivity" />
        <activity android:name=".mvp.ui.activity.HelpActivity" />
        <activity android:name=".mvp.ui.activity.OKActivity" />
        <activity android:name=".mvp.ui.activity.HelloActivity" />
        <activity android:name=".mvp.ui.activity.MainKeyActivity" />
        <activity android:name=".mvp.ui.activity.MainPPActivity" />
        <activity android:name=".mvp.presenter.mvp.ui.activity.MainQQQQActivity" />
        <activity android:name=".mvp.ui.activity.MainpppppActivity" />
        <activity android:name=".mvp.ui.activity.MainTestActivity" />
        <activity android:name=".mvp.ui.activity.MainTsetActivity" />
        <activity android:name=".mvp.ui.activity.MainHaseActivity" />
        <activity android:name=".mvp.ui.activity.MainHelloActivity" />
        <activity android:name="apicloud.com.mvp.ui.activity.MainActivity" />
    </application>

</manifest>