<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="apicloud.com.youxian">

    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".mvp.ui.activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".mvp.ui.activity.ShengQiangActivity" />
        <activity android:name=".mvp.ui.activity.MainSSActivity" />
        <activity android:name=".mvp.ui.activity.MainSSSActivity" />
        <activity android:name=".mvp.ui.activity.MainWWWWActivity" />
        <activity android:name=".mvp.ui.activity.MainSDWSActivity" />
        <activity android:name=".mvp.ui.activity.MainIOOActivity" />
    </application>

</manifest>